<form [formGroup]="form" novalidate autocomplete="off">
  <div class="form-group">
    <label for="apiKey">DEV Api Key</label>
    <input type="text" class="form-control" id="apiKey"
    formControlName="apiKey"
    (keyup.Enter)="getStats()">
  </div>
</form>

<button type="button"
 class="btn btn-primary"
 (click)="getStats()">Get my stats!</button>

 <table class="table table-striped">
   <thead>
     <th>Key</th>
     <th>Value</th>
   </thead>
   <tbody>
     <tr *ngFor="let c of articleStats">
       <td>
          {{ c.label }}
       </td>
       <td>
        {{ c.value }}
      </td>

     </tr>
   </tbody>
 </table>


