.main-page {
  background-color: lightgray;
}

.card {
  padding: 2em;
  background-color: whitesmoke;
  border-radius: 25px;
}

.card-label {
  text-align: center;
  font-size: large;
}

.card-value {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.stats-category {
  padding-top: 1em;
  padding-bottom: 2em;
}

.h2 {
  padding-bottom: 0.5em;
}

.form-control {
  background-color: whitesmoke;
}

.tag-name {
  font-weight: bold;
}
