<div class="main-page">
  <div class="jumbotron">
  <h1>Welcome to <a href="https://dev.to/sandordargo">
    <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" style="width:1.25 em; height:auto" alt="Sandor Dargo's DEV Profile" height="30" width="30">
    </a>Analytics
  </h1>
  </div>
  <div class="container">
  <p>Get some insight on how your articles perform</p>
  <p>If you don't have an API Key, go to <a href="https://dev.to/settings/account" target="_blank">your settings/account</a> and generate one</p>
  <form [formGroup]="form" novalidate autocomplete="off">
    <div class="form-group">
      <input type="text" class="form-control" id="apiKey"
          formControlName="apiKey"
          placeholder="Insert your DEV Api Key here"
          (keyup.Enter)="getStats()">
    </div>
  </form>
  <button type="button"
    class="btn btn-primary"
    (click)="getStats()">Get my stats!</button>
  <div [hidden]="!loaded">
    <div class="stats-category">
      <h2>High level statistics</h2>
      <div class="row">
          <div class="column" style="width: 25%;">
            <app-stats-card [statsElement]="articlesWritten" [numberFormat]="normalFormat"></app-stats-card>
          </div>
          <div class="column" style="width: 25%;">
            <app-stats-card [statsElement]="totalViews" [numberFormat]="normalFormat"></app-stats-card>
          </div>
          <div class="column" style="width: 25%;">
            <app-stats-card [statsElement]="totalReactions" [numberFormat]="normalFormat"></app-stats-card>
          </div>
          <div class="column" style="width: 25%;">
            <app-stats-card [statsElement]="totalComments" [numberFormat]="normalFormat"></app-stats-card>
          </div>
      </div>
    </div>
    <div class="stats-category">
      <h2>Some statistics on your most popular posts</h2>
      <div class="row">
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="mostViewedArticleRatioToTotal" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="mostReactedArticleRatioToTotal" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="mostCommentedArticleRatioToTotal" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
      </div>
    </div>
    <div class="stats-category">
      <h2>Relative weight of your most popular posts</h2>
      <div class="row">
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="percentageOfArticlesGiving80PercentOfViews" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="percentageOfArticlesGiving80PercentOfReactions" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="percentageOfArticlesGiving80PercentOfComments" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
      </div>
      <div class="row">
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="percentageOfArticlesGiving95PercentOfViews" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="percentageOfArticlesGiving95PercentOfReactions" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-stats-card [statsElement]="percentageOfArticlesGiving95PercentOfComments" [numberFormat]="percentageFormat" quantifier='%'></app-stats-card>
        </div>
      </div>
    </div>
    <div class="stats-category">
      <h2>Some statistics on your most popular tags</h2>
      <div class="row">
        <div class="column" style="width: 33%;">
          <app-tag-stats-card [statsElement]="mostCommentedTag" [numberFormat]="normalFormat"></app-tag-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-tag-stats-card [statsElement]="mostReactedTag" [numberFormat]="normalFormat"></app-tag-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-tag-stats-card [statsElement]="mostViewedTag" [numberFormat]="normalFormat"></app-tag-stats-card>
        </div>
      </div>
      <div class="row">
        <div class="column" style="width: 33%;">
          <app-tag-stats-card [statsElement]="tagWithMostCommentsPerArticle" [numberFormat]="percentageFormat" quantifier='%'></app-tag-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-tag-stats-card [statsElement]="tagWithMostReactionsPerArticle" [numberFormat]="percentageFormat" quantifier='%'></app-tag-stats-card>
        </div>
        <div class="column" style="width: 33%;">
          <app-tag-stats-card [statsElement]="tagWithMostViewsPerArticle" [numberFormat]="percentageFormat" quantifier='%'></app-tag-stats-card>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
